# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Uploaded files
backend/uploaded_files/

# Chroma database
chroma_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db